<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">로그아웃</a>
    <span sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"> | <a th:href="@{/admin}">관리자 페이지</a></span>

    <p><span sec:authentication="name"></span>님 환영합니다.</p>
    <p>권한 목록 : <span sec:authentication="principal.authorities"></span></p>
</div>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">로그인</a> | <a th:href="@{/signup}">회원가입</a>
</div>
</body>
</html>